pandas>=1.3.3
requests>=2.26.0
scikit-learn>=1.0
scipy>=1.7.1
nltk>=3.6.5
pytest>=6.2.5
Elasticsearch
gensim
annoy
unicodecsv
us
Sqlalchemy
geocoder
psycopg2
alembic
retrying
fiona
shapely
filelock
bs4
lxml
fuzzywuzzy
python-Levenshtein
dickens
skills-utils
s3fs
dill
toolz>=0.11.1
multiprocess
graphviz
codecov
httpretty
freezegun
mock
moto
pytest-cov
pytest
testing.postgresql
tox>=3.24.4
bumpversion
mkdocs
pydoc-markdown
mkdocs-material
factory_boy>=3.2.0
jupyter>=1.0.0
tensorflow>=2.3.4
boto==2.49.0
